* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$vermelho-escuro: rgb(127, 29, 29);
$verde-musgo: #556b2f;
$dourado: #ffd700;
$bege: #f5f5dc;
$cinza: #d3d3d3;
$mostarda: #ffdb58;
body {
    max-width: 426px;
    margin: 0 auto;
}

input[type="radio"] {
    display: none;
}

.radio-container label {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.custom-radio {
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.custom-radio,
span {
    transition: 0.5s ease;
    border-color: #7f1d1d;
}

.custom-radio span {
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    border-radius: 50%;
}

input[type="radio"]:checked + .custom-radio {
    border-color: #7f1d1d;
}

input[type="radio"]:checked + .custom-radio span {
    background: #7f1d1d;
}

#multistep-form .step:not(.step-1) {
    display: none;
}
